We will design a very simple `Popularity Based Recommender System` in `purest` form which only caters to number of ratings or views etc, and is not personalized for each customer category.

In [1]:
import pandas as pd

In [2]:
# import data
ratings_data = pd.read_csv('ratings.csv')
ratings_data.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [3]:
ratings_data.shape

(100004, 4)

In [4]:
movie_names = pd.read_csv('movies.csv')
movie_names.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
movie_names.shape

(9125, 3)

In [6]:
# merging the dataframes
movie_data = pd.merge(ratings_data,movie_names,on='movieId')
movie_data.head()

   userId  movieId  rating   timestamp                   title genres
0       1       31     2.5  1260759144  Dangerous Minds (1995)  Drama
1       7       31     3.0   851868750  Dangerous Minds (1995)  Drama
2      31       31     4.0  1273541953  Dangerous Minds (1995)  Drama
3      32       31     4.0   834828440  Dangerous Minds (1995)  Drama
4      36       31     3.0   847057202  Dangerous Minds (1995)  Drama

In [7]:
movie_data.shape

(100004, 6)

In [8]:
# grouping by title and taking mean of ratings
movie_data.groupby('title')['rating'].mean().sort_values(ascending=False).head()

title
Ivan Vasilievich: Back to the Future (Ivan Vasilievich menyaet professiyu) (1973)    5.0
Alien Escape (1995)                                                                  5.0
Boiling Point (1993)                                                                 5.0
Bone Tomahawk (2015)                                                                 5.0
Borgman (2013)                                                                       5.0
Name: rating, dtype: float64

In [9]:
# grouping by title and taking count of ratings
movie_data.groupby('title')['rating'].count().sort_values(ascending=False).head()

title
Forrest Gump (1994)                          341
Pulp Fiction (1994)                          324
Shawshank Redemption, The (1994)             311
Silence of the Lambs, The (1991)             304
Star Wars: Episode IV - A New Hope (1977)    291
Name: rating, dtype: int64

We can customize our poupularity based recommender system to take into account number of people who watched the movie or rated it.

In [10]:
# combining mean and count
ratings_mean_count = pd.DataFrame(movie_data.groupby('title')['rating'].mean())

In [11]:
ratings_mean_count['rating_counts'] = movie_data.groupby('title')['rating'].count()

In [12]:
ratings_mean_count.head()

                                           rating  rating_counts
title
"Great Performances" Cats (1998)         1.750000              2
$9.99 (2008)                             3.833333              3
'Hellboy': The Seeds of Creation (2004)  2.000000              1
'Neath the Arizona Skies (1934)          0.500000              1
'Round Midnight (1986)                   2.250000              2