We are going to design a simple **Content-Based Recommender System**, which searches and recommend `similar` items to what the user has searched. The similarity is defined in terms of `Cosine Similarity`.

In [1]:
import pandas as pd

# using inbuilt cosine similarity function
from sklearn.metrics.pairwise import cosine_similarity

# computes count_matrix or Document term frequency matrix
from sklearn.feature_extraction.text import CountVectorizer

pd.set_option('display.max_columns',20)

In [2]:
# import the data
df = pd.read_csv('https://query.data.world/s/uikepcpffyo2nhig52xxeevdialfl7')
df.head()

,Unnamed: 0,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,...,tomatoConsensus,tomatoUserMeter,tomatoUserRating,tomatoUserReviews,tomatoURL,DVD,BoxOffice,Production,Website,Response
0,1,The Shawshank Redemption,1994,R,14 Oct 1994,142 min,"Crime, Drama",Frank Darabont,"Stephen King (short story ""Rita Hayworth and S...","Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/shawshank_rede...,27 Jan 1998,NaN,Columbia Pictures,NaN,True
1,2,The Godfather,1972,R,24 Mar 1972,175 min,"Crime, Drama",Francis Ford Coppola,"Mario Puzo (screenplay), Francis Ford Coppola ...","Marlon Brando, Al Pacino, James Caan, Richard ...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/godfather/,09 Oct 2001,NaN,Paramount Pictures,http://www.thegodfather.com,True
2,3,The Godfather: Part II,1974,R,20 Dec 1974,202 min,"Crime, Drama",Francis Ford Coppola,"Francis Ford Coppola (screenplay), Mario Puzo ...","Al Pacino, Robert Duvall, Diane Keaton, Robert...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/godfather_part...,24 May 2005,NaN,Paramount Pictures,http://www.thegodfather.com/,True
3,4,The Dark Knight,2008,PG-13,18 Jul 2008,152 min,"Action, Crime, Drama",Christopher Nolan,"Jonathan Nolan (screenplay), Christopher Nolan...","Christian Bale, Heath Ledger, Aaron Eckhart, M...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/the_dark_knight/,09 Dec 2008,"$533,316,061",Warner Bros. Pictures/Legendary,http://thedarkknight.warnerbros.com/,True
4,5,12 Angry Men,1957,APPROVED,01 Apr 1957,96 min,"Crime, Drama",Sidney Lumet,"Reginald Rose (story), Reginald Rose (screenplay)","Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/1000013-12_ang...,06 Mar 2001,NaN,Criterion Collection,http://www.criterion.com/films/27871-12-angry-men,True

In [3]:
df.shape

(250, 38)

In [4]:
# we will extract only the columns of our interest
df = df[['Title','Genre','Director','Actors','Plot']]
df.head()

,Title,Genre,Director,Actors,Plot
0,The Shawshank Redemption,"Crime, Drama",Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Two imprisoned men bond over a number of years...
1,The Godfather,"Crime, Drama",Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Richard ...",The aging patriarch of an organized crime dyna...
2,The Godfather: Part II,"Crime, Drama",Francis Ford Coppola,"Al Pacino, Robert Duvall, Diane Keaton, Robert...",The early life and career of Vito Corleone in ...
3,The Dark Knight,"Action, Crime, Drama",Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",When the menace known as the Joker emerges fro...
4,12 Angry Men,"Crime, Drama",Sidney Lumet,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",A jury holdout attempts to prevent a miscarria...

In [5]:
# discarding the commas between the actors' full names and getting only the first three names
df['Actors'] = df['Actors'].map(lambda x: x.split(',')[:3])

In [6]:
df['Actors']

0            [Tim Robbins,  Morgan Freeman,  Bob Gunton]
1               [Marlon Brando,  Al Pacino,  James Caan]
2             [Al Pacino,  Robert Duvall,  Diane Keaton]
3        [Christian Bale,  Heath Ledger,  Aaron Eckhart]
4           [Martin Balsam,  John Fiedler,  Lee J. Cobb]
                             ...
245           [Ray Milland,  Jane Wyman,  Phillip Terry]
246    [Brie Larson,  John Gallagher Jr.,  Stephanie ...
247      [Cary Grant,  Rosalind Russell,  Ralph Bellamy]
248    [Sissy Spacek,  Jane Galloway Heitz,  Joseph A...
249           [Dev Patel,  Saurabh Shukla,  Anil Kapoor]
Name: Actors, Length: 250, dtype: object

In [7]:
# putting the genres in a list of word(case insensitive)
df['Genre'] = df['Genre'].map(lambda x: x.lower().split(','))

In [8]:
df['Genre']

0                 [crime,  drama]
1                 [crime,  drama]
2                 [crime,  drama]
3        [action,  crime,  drama]
4                 [crime,  drama]
                  ...
245           [drama,  film-noir]
246                       [drama]
247    [comedy,  drama,  romance]
248           [biography,  drama]
249                       [drama]
Name: Genre, Length: 250, dtype: object

In [9]:
# iterating over rows and joining actors and directors
for index, row in df.iterrows():
    print(row['Actors'])
    print(row['Director'])
    break

['Tim Robbins', ' Morgan Freeman', ' Bob Gunton']
Frank Darabont

In [10]:
# iterating over rows and joining actors and directors
for index, row in df.iterrows():
    row['Actors'] = [x.lower().replace(' ','') for x in row['Actors']]
    row['Director'] = row['Director'].lower().replace(' ','')

In [11]:
df['Actors']

0                 [timrobbins, morganfreeman, bobgunton]
1                    [marlonbrando, alpacino, jamescaan]
2                  [alpacino, robertduvall, dianekeaton]
3             [christianbale, heathledger, aaroneckhart]
4                 [martinbalsam, johnfiedler, leej.cobb]
                             ...
245                [raymilland, janewyman, phillipterry]
246     [brielarson, johngallagherjr., stephaniebeatriz]
247           [carygrant, rosalindrussell, ralphbellamy]
248    [sissyspacek, janegallowayheitz, josepha.carpe...
249                [devpatel, saurabhshukla, anilkapoor]
Name: Actors, Length: 250, dtype: object

In [12]:
df['Director']

0                  frankdarabont
1             francisfordcoppola
2             francisfordcoppola
3               christophernolan
4                    sidneylumet
                 ...
245                  billywilder
246          destindanielcretton
247                  howardhawks
248                   davidlynch
249    dannyboyle,loveleentandan
Name: Director, Length: 250, dtype: object

In [13]:
# !pip install rake-nltk
# this library is used for key word extraction

# import nltk
# nltk.download('stopwords')
# used to download stopwords
# nltk.download('punkt')

In [14]:
# Rapid Automatic Keyword Extraction
from rake_nltk import Rake

In [15]:
# extracting keywords from Plot

# initialising a blank column
df['Key_words'] = ''
for index, row in df.iterrows():
    plot = row['Plot']
    
    # instantiating Rake, by default is uses english stopwords from NLTK
    # and discard all puntuation characters
    r = Rake()
    
    # extracting the words by passing the text
    r.extract_keywords_from_text(plot)
    
    # getting the dictionary whith key words and their scores
    key_words_dict_scores = r.get_word_degrees()
    
    # assigning the key words to the new column
    row['Key_words'] = list(key_words_dict_scores.keys())

In [16]:
# dropping the Plot column because keywords are extracted
df.drop(columns = ['Plot'], inplace = True)

In [17]:
df.set_index('Title',inplace=True)
df.head()

,Genre,Director,Actors,Key_words
Title,,,,
The Shawshank Redemption,"[crime, drama]",frankdarabont,"[timrobbins, morganfreeman, bobgunton]","[two, imprisoned, men, bond, number, years, fi..."
The Godfather,"[crime, drama]",francisfordcoppola,"[marlonbrando, alpacino, jamescaan]","[aging, patriarch, organized, crime, dynasty, ..."
The Godfather: Part II,"[crime, drama]",francisfordcoppola,"[alpacino, robertduvall, dianekeaton]","[early, life, career, vito, corleone, 1920s, n..."
The Dark Knight,"[action, crime, drama]",christophernolan,"[christianbale, heathledger, aaroneckhart]","[menace, known, joker, emerges, mysterious, pa..."
12 Angry Men,"[crime, drama]",sidneylumet,"[martinbalsam, johnfiedler, leej.cobb]","[jury, holdout, attempts, prevent, miscarriage..."

In [18]:
# extracting all words into a bag of words or a document for Count Vectorizer to
# form a count_matrix or document term frequency
df['bag_of_words'] = ''
for index, row in df.iterrows():
    # initialising a string to hold all words
    words = ''
    
    for col in df.columns:
        if col == 'Director':
            words = words + row[col]
        else:
            words = words + ' '.join(row[col]) + ' '
    row['bag_of_words'] = words

In [19]:
# dropping all other columns
df.drop(columns= [col for col in df.columns if col!='bag_of_words'],inplace=True)

In [20]:
df.head()

                                                               bag_of_words
Title
The Shawshank Redemption  crime  drama frankdarabonttimrobbins morganfre...
The Godfather             crime  drama francisfordcoppolamarlonbrando al...
The Godfather: Part II    crime  drama francisfordcoppolaalpacino robert...
The Dark Knight           action  crime  drama christophernolanchristian...
12 Angry Men              crime  drama sidneylumetmartinbalsam johnfiedl...

In [21]:
# instantiating and generating the count matrix
count = CountVectorizer()
count_matrix = count.fit_transform(df['bag_of_words'])

In [22]:
# creating a Series for the movie titles so they are associated to an ordered numerical
indices = pd.Series(df.index)
indices

0      The Shawshank Redemption
1                 The Godfather
2        The Godfather: Part II
3               The Dark Knight
4                  12 Angry Men
                 ...
245            The Lost Weekend
246               Short Term 12
247             His Girl Friday
248          The Straight Story
249         Slumdog Millionaire
Name: Title, Length: 250, dtype: object

In [23]:
c=count_matrix.todense()
c

matrix([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [24]:
count.vocabulary_

{'crime': 577,
 'drama': 762,
 'frankdarabonttimrobbins': 1006,
 'morganfreeman': 1780,
 'bobgunton': 303,
 'two': 2745,
 'imprisoned': 1256,
 'men': 1704,
 'bond': 308,
 'number': 1867,
 'years': 2927,
 'finding': 960,
 'solace': 2458,
 'eventual': 880,
 'redemption': 2151,
 'acts': 59,
 'common': 511,
 'decency': 653,
 'francisfordcoppolamarlonbrando': 999,
 'alpacino': 120,
 'jamescaan': 1342,
 'aging': 81,
 'patriarch': 1944,
 'organized': 1901,
 'dynasty': 787,
 'transfers': 2710,
 'control': 546,
 'clandestine': 469,
 'empire': 836,
 'reluctant': 2170,
 'son': 2469,
 'francisfordcoppolaalpacino': 998,
 'robertduvall': 2243,
 'dianekeaton': 705,
 'early': 789,
 'life': 1548,
 'career': 386,
 'vito': 2831,
 'corleone': 556,
 '1920s': 8,
 'new': 1839,
 'york': 2930,
 'portrayed': 2030,
 'michael': 1721,
 'expands': 899,
 'tightens': 2656,
 'grip': 1121,
 'family': 925,
 'syndicate': 2593,
 'action': 56,
 'christophernolanchristianbale': 454,
 'heathledger': 1167,
 'aaroneckhart': 31,
 'menace': 1705,
 'known': 1485,
 'joker': 1422,
 'emerges': 827,
 'mysterious': 1813,
 'past': 1939,
 'wreaks': 2920,
 'havoc': 1161,
 'chaos': 421,
 'people': 1963,
 'gotham': 1105,
 'dark': 619,
 'knight': 1481,
 'must': 1811,
 'accept': 41,
 'one': 1893,
 'greatest': 1118,
 'psychological': 2092,
 'physical': 1997,
 'tests': 2632,
 'ability': 37,
 'fight': 950,
 'injustice': 1285,
 'sidneylumetmartinbalsam': 2420,
 'johnfiedler': 1402,
 'leej': 1527,
 'cobb': 485,
 'jury': 1446,
 'holdout': 1200,
 'attempts': 209,
 'prevent': 2052,
 'miscarriage': 1754,
 'justice': 1447,
 'forcing': 982,
 'colleagues': 491,
 'reconsider': 2145,
 'evidence': 883,
 'biography': 288,
 'history': 1193,
 'stevenspielbergliamneeson': 2529,
 'benkingsley': 272,
 'ralphfiennes': 2122,
 'german': 1075,
 'occupied': 1878,
 'poland': 2021,
 'world': 2912,
 'war': 2846,
 'ii': 1247,
 'oskar': 1909,
 'schindler': 2331,
 'gradually': 1109,
 'becomes': 254,
 'concerned': 524,
 'jewish': 1380,
 'workforce': 2909,
 'witnessing': 2897,
 'persecution': 1969,
 'nazi': 1825,
 'germans': 1076,
 'adventure': 70,
 'fantasy': 929,
 'peterjacksonnoelappleby': 1985,
 'aliastin': 109,
 'seanastin': 2345,
 'gandalf': 1043,
 'aragorn': 172,
 'lead': 1515,
 'sauron': 2317,
 'army': 178,
 'draw': 763,
 'gaze': 1055,
 'frodo': 1027,
 'sam': 2304,
 'approach': 170,
 'mount': 1786,
 'doom': 751,
 'ring': 2230,
 'quentintarantinotimroth': 2108,
 'amandaplummer': 126,
 'lauralovelace': 1506,
 'lives': 1565,
 'mob': 1765,
 'hit': 1194,
 'boxer': 327,
 'gangster': 1046,
 'wife': 2872,
 'pair': 1923,
 'diner': 711,
 'bandits': 229,
 'intertwine': 1303,
 'four': 994,
 'tales': 2599,
 'violence': 2825,
 'davidfincheredwardnorton': 626,
 'bradpitt': 332,
 'meatloaf': 1686,
 'insomniac': 1291,
 'office': 1882,
 'worker': 2908,
 'looking': 1580,
 'way': 2853,
 'change': 419,
 'crosses': 587,
 'paths': 1941,
 'devil': 699,
 'may': 1678,
 'care': 385,
 'soap': 2454,
 'maker': 1616,
 'forming': 989,
 'underground': 2761,
 'club': 481,
 'evolves': 885,
 'something': 2466,
 'much': 1796,
 'peterjacksonalanhoward': 1983,
 'noelappleby': 1856,
 'meek': 1693,
 'hobbit': 1197,
 'shire': 2408,
 'eight': 814,
 'companions': 514,
 'set': 2382,
 'journey': 1438,
 'destroy': 686,
 'powerful': 2042,
 'save': 2319,
 'middle': 1737,
 'earth': 790,
 'lord': 1582,
 'comedy': 503,
 'romance': 2269,
 'robertzemeckistomhanks': 2254,
 'rebeccawilliams': 2141,
 'sallyfield': 2303,
 'intelligent': 1298,
 'forrest': 991,
 'gump': 1130,
 'accidentally': 45,
 'present': 2050,
 'many': 1630,
 'historic': 1192,
 'moments': 1770,
 'true': 2731,
 'love': 1586,
 'jenny': 1372,
 'curran': 593,
 'eludes': 823,
 'irvinkershnermarkhamill': 1321,
 'harrisonford': 1157,
 'carriefisher': 393,
 'rebels': 2142,
 'overpowered': 1917,
 'newly': 1841,
 'established': 870,
 'base': 242,
 'luke': 1594,
 'skywalker': 2443,
 'begins': 261,
 'jedi': 1367,
 'training': 2708,
 'master': 1661,
 'yoda': 2929,
 'friends': 1025,
 'shelter': 2403,
 'questionable': 2111,
 'ally': 117,
 'darth': 622,
 'vader': 2793,
 'hunts': 1237,
 'plan': 2006,
 'capture': 382,
 'sci': 2334,
 'fi': 947,
 'christophernolanleonardodicaprio': 458,
 'josephgordon': 1434,
 'levitt': 1542,
 'ellenpage': 822,
 'thief': 2640,
 'steals': 2518,
 'corporate': 557,
 'secrets': 2358,
 'use': 2788,
 'dream': 765,
 'sharing': 2395,
 'technology': 2610,
 'given': 1089,
 'inverse': 1305,
 'task': 2604,
 'planting': 2011,
 'idea': 1242,
 'mind': 1752,
 'ceo': 414,
 'peterjacksonbruceallpress': 1984,
 'johnbach': 1397,
 'edge': 796,
 'closer': 479,
 'mordor': 1779,
 'help': 1175,
 'shifty': 2406,
 'gollum': 1101,
 'divided': 736,
 'fellowship': 944,
 'makes': 1617,
 'stand': 2498,
 'saruman': 2315,
 'hordes': 1211,
 'isengard': 1322,
 'milosformanmichaelberryman': 1751,
 'peterbrocco': 1981,
 'deanr': 644,
 'brooks': 347,
 'criminal': 579,
 'pleads': 2015,
 'insanity': 1288,
 'getting': 1082,
 'trouble': 2729,
 'mental': 1707,
 'institution': 1294,
 'oppressive': 1898,
 'nurse': 1868,
 'rallies': 2120,
 'scared': 2325,
 'patients': 1943,
 'martinscorseserobertdeniro': 1652,
 'rayliotta': 2132,
 'joepesci': 1394,
 'story': 2538,
 'henry': 1179,
 'hill': 1189,
 'teen': 2611,
 'mafia': 1606,
 'covering': 567,
 'relationship': 2165,
 'karen': 1451,
 'partners': 1936,
 'jimmy': 1381,
 'conway': 552,
 'tommy': 2676,
 'devitto': 700,
 'italian': 1326,
 'american': 129,
 'lanawachowski': 1492,
 'lillywachowskikeanureeves': 1552,
 'laurencefishburne': 1508,
 'carrie': 391,
 'annemoss': 152,
 'computer': 522,
 'hacker': 1141,
 'learns': 1521,
 'nature': 1822,
 'reality': 2137,
 'role': 2267,
 'controllers': 547,
 'georgelucasmarkhamill': 1069,
 'joins': 1421,
 'forces': 981,
 'cocky': 486,
 'pilot': 2000,
 'wookiee': 2906,
 'droids': 772,
 'galaxy': 1038,
 'destroying': 687,
 'battle': 247,
 'station': 2515,
 'also': 121,
 'attempting': 208,
 'rescue': 2184,
 'princess': 2058,
 'leia': 1537,
 'evil': 884,
 'mystery': 1814,
 'davidfinchermorganfreeman': 627,
 'andrewkevinwalker': 138,
 'kevinspacey': 1466,
 'detectives': 693,
 'rookie': 2278,
 'veteran': 2805,
 'hunt': 1234,
 'serial': 2378,
 'killer': 1470,
 'uses': 2789,
 'seven': 2386,
 'deadly': 640,
 'sins': 2435,
 'motives': 1785,
 'frankcaprajamesstewart': 1004,
 'donnareed': 748,
 'lionelbarrymore': 1561,
 'angel': 142,
 'sent': 2374,
 'heaven': 1168,
 'desperately': 683,
 'frustrated': 1029,
 'businessman': 365,
 'showing': 2415,
 'would': 2918,
 'like': 1549,
 'never': 1838,
 'existed': 897,
 'thriller': 2652,
 'jonathandemmejodiefoster': 1424,
 'lawrencea': 1513,
 'bonney': 309,
 'kasilemmons': 1455,
 'young': 2931,
 'cadet': 369,
 'confide': 529,
 'incarcerated': 1261,
 'manipulative': 1625,
 'receive': 2143,
 'catching': 405,
 'another': 156,
 'skins': 2442,
 'victims': 2809,
 'bryansingerstephenbaldwin': 354,
 'gabrielbyrne': 1037,
 'beniciodeltoro': 271,
 'sole': 2462,
 'survivor': 2586,
 'tells': 2616,
 'twisty': 2744,
 'events': 879,
 'leading': 1517,
 'horrific': 1212,
 'gun': 1131,
 'boat': 300,
 'began': 259,
 'five': 967,
 'criminals': 581,
 'met': 1717,
 'seemingly': 2363,
 'random': 2125,
 'police': 2022,
 'lineup': 1559,
 'lucbessonjeanreno': 1592,
 'garyoldman': 1050,
 'natalieportman': 1821,
 'mathilda': 1667,
 '12': 3,
 'year': 2926,
 'old': 1888,
 'girl': 1087,
 'reluctantly': 2171,
 'taken': 2595,
 'léon': 1598,
 'professional': 2074,
 'assassin': 192,
 'murdered': 1801,
 'form': 987,
 'unusual': 2777,
 'protégée': 2088,
 'trade': 2702,
 'stevenspielbergtomhanks': 2532,
 'tomsizemore': 2677,
 'edwardburns': 805,
 'following': 975,
 'normandy': 1859,
 'landings': 1495,
 'group': 1122,
 'soldiers': 2461,
 'go': 1096,
 'behind': 263,
 'enemy': 843,
 'lines': 1558,
 'retrieve': 2195,
 'paratrooper': 1929,
 'whose': 2870,
 'brothers': 349,
 'killed': 1469,
 'charleschaplinvirginiacherrill': 430,
 'florencelee': 969,
 'harrymyers': 1159,
 'aid': 85,
 'wealthy': 2855,
 'erratic': 865,
 'tippler': 2664,
 'dewy': 702,
 'eyed': 910,
 'tramp': 2709,
 'fallen': 921,
 'sightless': 2423,
 'flower': 970,
 'accumulates': 48,
 'money': 1772,
 'able': 38,
 'medically': 1691,
 'christophernolanellenburstyn': 455,
 'matthewmcconaughey': 1673,
 'mackenziefoy': 1600,
 'team': 2608,
 'explorers': 906,
 'travel': 2715,
 'wormhole': 2913,
 'space': 2476,
 'attempt': 207,
 'ensure': 855,
 'humanity': 1229,
 'survival': 2582,
 'tonykayeedwardnorton': 2681,
 'edwardfurlong': 807,
 'beverlyd': 276,
 'angelo': 144,
 'former': 988,
 'neo': 1835,
 'skinhead': 2441,
 'tries': 2726,
 'younger': 2932,
 'brother': 348,
 'going': 1099,
 'wrong': 2923,
 'path': 1940,
 'charleschaplincharleschaplin': 429,
 'paulettegoddard': 1949,
 'henrybergman': 1180,
 'struggles': 2551,
 'live': 1564,
 'modern': 1766,
 'industrial': 1268,
 'society': 2457,
 'homeless': 1207,
 'woman': 2901,
 'michaelcurtizhumphreybogart': 1728,
 'ingridbergman': 1283,
 'paulhenreid': 1952,
 'casablanca': 399,
 'december': 652,
 '1941': 11,
 'cynical': 600,
 'expatriate': 900,
 'encounters': 840,
 'lover': 1588,
 'unforeseen': 2764,
 'complications': 521,
 'frankdarabonttomhanks': 1007,
 'davidmorse': 633,
 'michaelclarkeduncan': 1727,
 'guards': 1127,
 'death': 645,
 'row': 2282,
 'affected': 74,
 'charges': 425,
 'black': 293,
 'man': 1619,
 'accused': 50,
 'child': 440,
 'murder': 1800,
 'rape': 2126,
 'yet': 2928,
 'gift': 1086,
 'horror': 1213,
 'alfredhitchcockanthonyperkins': 101,
 'veramiles': 2800,
 'johngavin': 1408,
 'phoenix': 1994,
 'secretary': 2357,
 'embezzles': 826,
 '40': 28,
 '000': 0,
 'employer': 837,
 'client': 474,
 'goes': 1098,
 'run': 2286,
 'checks': 437,
 'remote': 2176,
 'motel': 1783,
 'domination': 746,
 'mother': 1784,
 'stevenspielbergharrisonford': 2527,
 'karenallen': 1452,
 'paulfreeman': 1950,
 'archaeologist': 173,
 'adventurer': 71,
 'indiana': 1266,
 'jones': 1426,
 'hired': 1190,
 'government': 1106,
 'find': 959,
 'ark': 177,
 'covenant': 565,
 'nazis': 1826,
 'music': 1807,
 'romanpolanskiadrienbrody': 2270,
 'emiliafox': 828,
 'michalzebrowski': 1733,
 'polish': 2024,
 'musician': 1809,
 'survive': 2583,
 'destruction': 689,
 'warsaw': 2850,
 'ghetto': 1083,
 'alfredhitchcockjamesstewart': 104,
 'gracekelly': 1108,
 'wendellcorey': 2863,
 'wheelchair': 2867,
 'bound': 321,
 'photographer': 1995,
 'spies': 2485,
 'neighbours': 1832,
 'apartment': 167,
 'window': 2889,
 'convinced': 551,
 'committed': 510,
 'martinscorseseleonardodicaprio': 1651,
 'mattdamon': 1668,
 'jacknicholson': 1333,
 'undercover': 2759,
 'cop': 553,
 'mole': 1768,
 'identify': 1244,
 'infiltrating': 1274,
 'irish': 1319,
 'gang': 1045,
 'south': 2475,
 'boston': 319,
 'damienchazellemilesteller': 607,
 'simmons': 2429,
 'paulreiser': 1954,
 'promising': 2081,
 'drummer': 775,
 'enrolls': 852,
 'cut': 596,
 'throat': 2653,
 'conservatory': 542,
 'dreams': 766,
 'greatness': 1119,
 'mentored': 1710,
 'instructor': 1295,
 'stop': 2536,
 'nothing': 1863,
 'realize': 2138,
 'student': 2555,
 'potential': 2038,
 'jamescameronarnoldschwarzenegger': 1343,
 'lindahamilton': 1554,
 'cyborg': 598,
 'identical': 1243,
 'failed': 918,
 'kill': 1468,
 'sarah': 2314,
 'connor': 539,
 'protect': 2087,
 'ten': 2620,
 'john': 1396,
 'advanced': 69,
 'robertzemeckismichaelj': 2253,
 'fox': 995,
 'christopherlloyd': 453,
 'leathompson': 1522,
 'marty': 1655,
 'mcfly': 1682,
 '17': 4,
 'high': 1187,
 'school': 2332,
 '30': 27,
 'time': 2659,
 'traveling': 2716,
 'delorean': 670,
 'invented': 1304,
 'close': 478,
 'friend': 1024,
 'maverick': 1675,
 'scientist': 2335,
 'doc': 739,
 'brown': 350,
 'ridleyscottrussellcrowe': 2225,
 'joaquinphoenix': 1389,
 'connienielsen': 538,
 'roman': 2268,
 'general': 1058,
 'betrayed': 275,
 'emperor': 835,
 'corrupt': 558,
 'comes': 504,
 'rome': 2272,
 'gladiator': 1091,
 'seek': 2360,
 'revenge': 2203,
 'animation': 149,
 'rogerallers': 2264,
 'robminkoffrowanatkinson': 2257,
 'matthewbroderick': 1671,
 'niketacalame': 1852,
 'lion': 1560,
 'cub': 590,
 'future': 1035,
 'king': 1475,
 'simba': 2428,
 'searches': 2352,
 'identity': 1245,
 'eagerness': 788,
 'please': 2016,
 'others': 1910,
 'penchant': 1961,
 'testing': 2631,
 'boundaries': 322,
 'sometimes': 2467,
 'gets': 1081,
 'christophernolanhughjackman': 457,
 'christianbale': 448,
 'michaelcaine': 1725,
 'stage': 2496,
 'magicians': 1611,
 'engage': 844,
 'competitive': 518,
 'upmanship': 2781,
 'create': 572,
 'ultimate': 2750,
 'illusion': 1249,
 'martinsheen': 1653,
 'vietnam': 2818,
 'captain': 379,
 'willard': 2875,
 'dangerous': 611,
 'mission': 1759,
 'cambodia': 374,
 'assassinate': 193,
 'renegade': 2177,
 'colonel': 497,
 'god': 1097,
 'among': 133,
 'local': 1570,
 'tribe': 2722,
 'christophernolanguypearce': 456,
 'joepantoliano': 1393,
 'juggles': 1442,
 'searching': 2353,
 'murderer': 1802,
 'keeping': 1461,
 'short': 2411,
 'term': 2622,
 'memory': 1703,
 'loss': 1584,
 'obstacle': 1875,
 'jackoakie': 1334,
 'reginaldgardiner': 2161,
 'dictator': 707,
 'adenoid': 64,
 'hynkel': 1241,
 'expand': 898,
 'poor': 2028,
 'barber': 236,
 'avoid': 219,
 'regime': 2160,
 'film': 956,
 'noir': 1857,
 'billywilderwilliamholden': 287,
 'gloriaswanson': 1095,
 'erichvonstroheim': 862,
 'screenwriter': 2341,
 'rework': 2205,
 'faded': 916,
 'silent': 2426,
 'star': 2510,
 'script': 2342,
 'developing': 698,
 'ridleyscotttomskerritt': 2226,
 'sigourneyweaver': 2425,
 'veronicacartwright': 2802,
 'merchant': 1712,
 'vessel': 2804,
 'perceives': 1965,
 'unknown': 2771,
 'transmission': 2712,
 'distress': 732,
 'call': 372,
 'landing': 1494,
 'source': 2474,
 'moon': 1776,
 'finds': 961,
 'crew': 576,
 'attacked': 205,
 'soon': 2470,
 'cycle': 599,
 'merely': 1714,
 'begun': 262,
 'stanleykubrickpetersellers': 2507,
 'georgec': 1065,
 'scott': 2337,
 'sterlinghayden': 2523,
 'insane': 1287,
 'triggers': 2727,
 'nuclear': 1866,
 'holocaust': 1204,
 'room': 2279,
 'full': 1031,
 'politicians': 2026,
 'generals': 1059,
 'frantically': 1012,
 'try': 2734,
 'stanleykubrickkirkdouglas': 2504,
 'ralphmeeker': 2124,
 'adolphemenjou': 66,
 'refusing': 2158,
 'attack': 204,
 'position': 2032,
 'accuses': 51,
 'cowardice': 568,
 'commanding': 507,
 'officer': 1883,
 'defend': 663,
 'western': 2866,
 'quentintarantinojamiefoxx': 2106,
 'christophwaltz': 461,
 'leonardodicaprio': 1539,
 'bounty': 323,
 'hunter': 1235,
 'freed': 1021,
 'slave': 2444,
 'sets': 2383,
 'brutal': 352,
 'mississippi': 1760,
 'plantation': 2010,
 'owner': 1920,
 'stanleykubrickjacknicholson': 2502,
 'shelleyduvall': 2401,
 'dannylloyd': 617,
 'heads': 1163,
 'isolated': 1324,
 'hotel': 1219,
 'winter': 2891,
 'spiritual': 2488,
 'presence': 2049,
 'influences': 1276,
 'father': 935,
 'psychic': 2091,
 'sees': 2365,
 'forebodings': 983,
 'billywildertyronepower': 286,
 'marlenedietrich': 1641,
 'charleslaughton': 431,
 'british': 345,
 'barrister': 239,
 'trial': 2721,
 'surprise': 2581,
 'tomhardy': 2670,
 'reign': 2164,
 'anarchy': 134,
 'enigmatic': 849,
 'selina': 2369,
 'forced': 980,
 'imposed': 1254,
 'exile': 895,
 'city': 467,
 'total': 2690,
 'annihilation': 155,
 'guerrilla': 1128,
 'terrorist': 2626,
 'bane': 230,
 'andrewstantonbenburtt': 140,
 'elissaknight': 818,
 'jeffgarlin': 1369,
 'distant': 731,
 'small': 2451,
 'waste': 2851,
 'collecting': 492,
 'robot': 2258,
 'inadvertently': 1260,
 'embarks': 825,
 'ultimately': 2751,
 'decide': 655,
 'fate': 934,
 'mankind': 1628,
 'sammendeskevinspacey': 2306,
 'annettebening': 153,
 'thorabirch': 2645,
 'sexually': 2390,
 'suburban': 2561,
 'mid': 1736,
 'crisis': 583,
 'becoming': 255,
 'infatuated': 1272,
 'daughter': 623,
 'best': 274,
 'sergioleonerobertdeniro': 2377,
 'jameswoods': 1352,
 'elizabethmcgovern': 820,
 'prohibition': 2080,
 'era': 860,
 'returns': 2199,
 'lower': 1591,
 'east': 791,
 'side': 2417,
 'manhattan': 1622,
 'thirty': 2643,
 'later': 1501,
 'confront': 534,
 'ghosts': 1084,
 'regrets': 2163,
 'jamescameronsigourneyweaver': 1344,
 'carriehenn': 394,
 'michaelbiehn': 1724,
 'alien': 111,
 '1979': 19,
 'colonized': 498,
 'contact': 545,
 'lost': 1585,
 'impressive': 1255,
 'firepower': 963,
 'enough': 851,
 'orsonwellesjosephcotten': 1908,
 'dorothycomingore': 755,
 'agnesmoorehead': 82,
 'publishing': 2096,
 'tycoon': 2746,
 'news': 1842,
 'reporters': 2181,
 'scramble': 2338,
 'discover': 717,
 'meaning': 1683,
 'final': 957,
 'utterance': 2791,
 'alfredhitchcockcarygrant': 102,
 'evamariesaint': 877,
 'jamesmason': 1349,
 'hapless': 1149,
 'advertising': 73,
 'executive': 892,
 'mistaken': 1761,
 'agent': 79,
 'foreign': 984,
 'pursued': 2099,
 'across': 55,
 'country': 561,
 'looks': 1581,
 'kimnovak': 1474,
 'barbarabelgeddes': 233,
 'san': 2310,
 'francisco': 997,
 'detective': 692,
 'suffering': 2569,
 'acrophobia': 54,
 'investigates': 1307,
 'strange': 2543,
 'activities': 57,
 'dangerously': 612,
 'obsessed': 1874,
 'richardmarquandmarkhamill': 2217,
 'daring': 618,
 'han': 1145,
 'solo': 2463,
 'jabba': 1327,
 'hutt': 1239,
 'dispatch': 728,
 'endor': 841,
 'meanwhile': 1685,
 'back': 223,
 'without': 2895,
 'falling': 922,
 'trap': 2714,
 'melgibsonjamesrobinson': 1699,
 'seanlawlor': 2348,
 'sandynelson': 2311,
 'secret': 2356,
 'bride': 340,
 'executed': 891,
 'assaulting': 196,
 'english': 847,
 'soldier': 2460,
 'tried': 2725,
 'sir': 2436,
 'william': 2877,
 'wallace': 2839,
 'revolt': 2204,
 'edward': 804,
 'england': 846,
 'quentintarantinoharveykeitel': 2105,
 'timroth': 2663,
 'michaelmadsen': 1731,
 'simple': 2430,
 'jewelry': 1379,
 'heist': 1173,
 'terribly': 2624,
 'surviving': 2585,
 'begin': 260,
 'suspect': 2587,
 'informant': 1277,
 'billywilderfredmacmurray': 282,
 'barbarastanwyck': 235,
 'edwardg': 808,
 'robinson': 2255,
 'insurance': 1296,
 'representative': 2182,
 'lets': 1540,
 'talked': 2601,
 'fraud': 1013,
 'scheme': 2330,
 'arouses': 180,
 'investigator': 1309,
 'suspicions': 2589,
 'darrenaronofskyellenburstyn': 620,
 'jaredleto': 1361,
 'jenniferconnelly': 1371,
 'drug': 773,
 'induced': 1267,
 'utopias': 2790,
 'coney': 527,
 'island': 1323,
 'shattered': 2399,
 'addictions': 63,
 'deep': 659,
 'davidleanpetero': 629,
 'toole': 2683,
 'alecguinness': 96,
 'anthonyquinn': 159,
 'lawrence': 1512,
 'successfully': 2564,
 'united': 2767,
 'led': 1526,
 'diverse': 735,
 'often': 1885,
 'warring': 2847,
 'arab': 171,
 'tribes': 2723,
 'order': 1899,
 'turks': 2738,
 'charleschaplincarlmiller': 428,
 'ednapurviance': 802,
 'jackiecoogan': 1330,
 'cares': 387,
 'abandoned': 33,
 'put': 2102,
 'jeopardy': 1373,
 'stanleykubrickmalcolmmcdowell': 2505,
 'patrickmagee': 1945,
 'michaelbates': 1723,
 'britain': 344,
 'alex': 98,
 'delarge': 667,
 'charismatic': 426,
 'psycopath': 2095,
 'delinquent': 668,
 'likes': 1550,
 'practice': 2044,
 'crimes': 578,
 'ultra': 2752,
 'jailed': 1339,
 'volunteers': 2835,
 'experimental': 903,
 'aversion': 217,
 'therapy': 2639,
 'developed': 697,
 'effort': 811,
 'solve': 2465,
 'problem': 2069,
 'according': 46,
 'milosformanf': 1750,
 ...}

In [25]:
# generating the cosine similarity matrix
cosine_sim = cosine_similarity(count_matrix)
cosine_sim

array([[1.        , 0.16666667, 0.14433757, ..., 0.05555556, 0.05555556,
        0.05892557],
       [0.16666667, 1.        , 0.28867513, ..., 0.05555556, 0.05555556,
        0.05892557],
       [0.14433757, 0.28867513, 1.        , ..., 0.04811252, 0.04811252,
        0.05103104],
       ...,
       [0.05555556, 0.05555556, 0.04811252, ..., 1.        , 0.05555556,
        0.05892557],
       [0.05555556, 0.05555556, 0.04811252, ..., 0.05555556, 1.        ,
        0.05892557],
       [0.05892557, 0.05892557, 0.05103104, ..., 0.05892557, 0.05892557,
        1.        ]])

In [26]:
# function that takes in movie title as input and returns the top 10 recommended movies
def recommendations(title, cosine_sim = cosine_sim):
    
    recommended_movies = []
    
    # gettin the index of the movie that matches the title
    idx = indices[indices == title].index[0]

    # creating a Series with the similarity scores in descending order
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)

    # getting the indexes of the 10 most similar movies
    top_10_indexes = list(score_series.iloc[1:11].index)
    print(top_10_indexes)
    
    # populating the list with the titles of the best 10 matching movies
    for i in top_10_indexes:
        recommended_movies.append(list(df.index)[i])
        
    return recommended_movies

In [27]:
recommendations('Fargo')

[34, 1, 226, 61, 2, 164, 100, 15, 214, 123]

['The Departed',
 'The Godfather',
 'Rope',
 'Reservoir Dogs',
 'The Godfather: Part II',
 'Touch of Evil',
 'On the Waterfront',
 'Goodfellas',
 'Arsenic and Old Lace',
 'Cool Hand Luke']