In [1]:
import pandas as pd
from statsmodels.stats.proportion import proportions_ztest

In [2]:
df = pd.read_csv('insurance.csv')

In [3]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

- 'sex' and 'smoker' are two categorical variables
- We want to see if the proportion of smokers in the female population is significantly less than it is in the male population

### Ho: the proportions are equal
### Ha: the proportions are not equal

In [4]:
# separating the data
female_smokers = df[df.sex == 'female'].smoker.value_counts()[1] # number of female smokers
male_smokers = df[df.sex == 'male'].smoker.value_counts()[1] # number of male smokers
n_females = df.sex.value_counts()[1] # number of females
n_males = df.sex.value_counts()[0] # number of males

In [5]:
print(f'Total Female Smokers = {female_smokers} and total females = {n_females}')
print(f'Total Male Smokers = {male_smokers} and total males = {n_males}')

Total Female Smokers = 115 and total females = 662
Total Male Smokers = 159 and total males = 676

In [6]:
print(f'Proportion of female smokers = {round(female_smokers/n_females,2)}')
print(f'Proportion of male smokers = {round(male_smokers/n_males,2)}')

Proportion of female smokers = 0.17
Proportion of male smokers = 0.24

In [7]:
# z proportion test
# sees are the proprtions significantly different
z_stat, p_value = proportions_ztest([female_smokers, male_smokers],[n_females,n_males])

In [8]:
z_stat
# the two groups arre 2.78 standard deviations apart

-2.7867402154855503

In [9]:
p_value
# p<0.05 , thus we reject null hypothesis and establish the alternative

0.005324114164320532