In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('insurance.csv')

In [3]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
nineteen = df[df.age==19]
nineteen.sex.value_counts()

male      35
female    33
Name: sex, dtype: int64

In [5]:
sample_male = nineteen[nineteen.sex=='male'].bmi.iloc[:-2] # exclude last two columns
sample_female = nineteen[nineteen.sex=='female'].bmi

In [6]:
v1, v2 = np.var(sample_female),np.var(sample_male)
print(v1,v2)

30.765708585858583 35.05058650137741

### Variances of bmi of men is higher than it is for women. But is the difference statistically significant?
### Ho : Variation in bmi of men and women is equal same
### Ha : Variation in bmi of men is greater than it is in women

In [7]:
n = 33 # number of samples
dof = n-1 # degrees of freedom
alpha = 0.05 # significance level
chi_critical = 46.19 # critical chi_squared statistic. From the table

In [8]:
chi = (dof*v1)/v2

if chi < chi_critical:
    print("Since the test statistic is less than the critical value, we fail to reject the null")
else:
    print("Since the test statistic is more than the critical value, we reject the null")

Since the test statistic is less than the critical value, we fail to reject the null